

@font-face {
  font-family: 'sansationregular';
  src: url('sansation-regular-webfont.eot');
  src: url('sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('sansation-regular-webfont.woff') format('woff'),
  url('sansation-regular-webfont.ttf') format('truetype'),
  url('sansation-regular-webfont.svg#sansationregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.clear{
  clear: both;
}

#wrapper{
  width: 960px;
  margin: 0 auto;
}

#background{
  background: url('../images/brooklyn.png') fixed;
  width: 100%;
  background-size: cover;
  /*background-attachment:fixed;*/
  overflow:scroll;
  /*position: relative;*/
  margin: 0 auto;
  padding: 10px;
}


#title{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

#title h1{
  font-size: 190px;
  margin: 0 auto;
  margin-top: 215px;
  margin-bottom: 10px;
  color: white;
  -webkit-user-select: none;
  text-shadow: 2px 4px 3px rgba(86, 74, 66, 1.0), -4px -2px 3px rgba(86, 74, 66, 1.0), 0px 5px 3px rgba(86, 74, 66, 1.0);

}

#title h3{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  -webkit-user-select: none;
  margin-bottom: 44px;
  margin-top: 20px;
  text-shadow: 20px 20px 20px rgba(12,20,20,0.7);
  display: inline-block;
  margin: 0 auto;
  padding-top:5em;
  padding-bottom: 7em;
}

#social-icon-container{
  width: 500px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;
}

#title-content img{
  padding: 5px;
}

#social-icon-container #github{
  margin: 14px;
  width: 60px;
  height:60px;
  display:inline-block;
  background: transparent url('../images/github-6-64.png') center no-repeat;

}

#social-icon-container2 #github{
  margin: 14px;
  width: 60px;
  height:60px;
  display:inline-block;
  background: transparent url('../images/github-6-64.png') center no-repeat;
  padding-left: 20em;


}

#social-icon-container #linkedin{
  width: 60px;
  height:60px;
  margin: 14px;
  display: inline-block;
  background: transparent url('../images/linkedin-64.png') center no-repeat;

}

#social-icon-container #instagram{
  width: 60px;
  height:60px;
  margin: 14px;
  display: inline-block;
  background: transparent url('../images/instagram-6-48.png') center no-repeat;

}

#social-icon-container #twitter{
  margin: 14px;
  width: 60px;
  height:60px;
  display:inline-block;
  background: transparent url('../images/twitter-64.png') center no-repeat;


}

#social-icon-container #github:hover{
  opacity: 1.0;
  margin: 11px;
  width: 60px;
  height:60px;
  display:inline-block;
  border: 3px solid green;
  border-radius: 10px;
}

#social-icon-container #linkedin:hover{
  opacity: 1.0;
  width: 60px;
  height:60px;
  margin: 11px;
  display:inline-block;
  border: 3px solid green;
  border-radius: 10px;
}

#social-icon-container #instagram:hover{
  opacity: 1.0;
  width: 60px;
  height:60px;
  margin: 11px;
  display:inline-block;
  border: 3px solid green;
  border-radius: 10px;
}

#social-icon-container #twitter:hover{
  opacity: 1.0;
  width: 60px;
  height:60px;
  margin: 11px;
  display:inline-block;
  border: 3px solid green;
  border-radius: 10px;
}

nav{
  background-color: rgba(0,0,0,1.0);
  padding: 0px 0 10px;
  width: 100%;
  height: 25px;
  text-align: center;
  /*text-align: right;*/
  border-top: 2.5px solid #1c3601;
  border-bottom: 2.5px solid #1c3601;
  position: relative;
  box-shadow: 0px 3px 5px rgba(10,10,10, 0.8);
  z-index: 2;
}

nav li{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  padding: 0px 30px 0;
  color: #ffffff;
}


#first_nav{
  padding-left: 60px;
}

#last_nav{
  padding-right: 110px;
}


#navigation-bar
{
  /*margin-right: 110px;*/
  margin-top: 10px;
}


a#logo-link
{
  text-align: left;
  display: none;
  float: left;
  margin-left: 140px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;
}

a#logo-link:link {
  color:#ffffff;
  padding: 5px 5px;
  text-decoration: none;
  font-family: 'Oleo Script Swash Caps', sans-serif;
}
a#logo-link:visited {
  color:#ffffff;
  padding: 10px 5px;
  text-decoration: none;
  font-family: 'Oleo Script Swash Caps', sans-serif;
}
a#logo-link .hover{
  color:#ffffff;
  padding: 0 5px;
  text-decoration: none;
  text-shadow: 3px 0px 1px rgba(255,0,0,0.7), -3px 0px 1px rgba(0,255,255,0.7);
}



a:link {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
a:visited {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
a .hover {
  color:#ffffff;
  text-decoration: none;
  text-shadow: 3px 0px 1px rgba(255,0,0,0.7), -3px 0px 1px rgba(0,255,255,0.7);
}


#content-area {
  background-color: rgb(200,200,200);
  /*background: -moz-linear-gradient(top, rgba(0,0,0,0.84) 0%, rgba(155,155,155,0.91) 100%);  FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.84)), color-stop(100%,rgba(155,155,155,0.91))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.84) 0%,rgba(155,155,155,0.91) 100%); /* Chrome10+,Safari5.1+ */
  /*  height: 1000px;*/
}


#content-container {
  width: 100%;
  margin: 0 auto;
}

.content-section {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 200px 0 200px;
}

.content-section#about {
  padding-top: 5px;
  text-align: center;
  background: url('../images/tiny_grid.png');
  background-color: rgba(204, 204, 204, 1.0);
}

.content-section#portfolio {

  background: url('../images/dirty_old_shirt.png');

}

.project {
  margin-bottom: 50px;
  display: none;
}

.project#first-class {
  display: inline-block;
}

.section-title {
  /*padding: 100px 0 50px;*/
  padding-bottom: 100px;
  margin: 0px auto;
  clear: both;
}

.section-title h3 {
  text-align: center;
  font-size: 30px;
  display: inline-block;
  padding-bottom: 2px;
  font-family: 'Oleo Script Swash Caps';
  background-color: grey;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#portfolio .section-title h3 {
  color: transparent;
  background-color: white;
  text-shadow: 0px -1px 1px rgba(230,230,230,0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#portfolio-options {
  padding-bottom: 75px;
}

#portfolio-options h5 {
  color: green;
  font-family: 'Lato';
  font-size: 20px;
}

#portfolio-options h5 span {
  margin: 0 15px;
  cursor: pointer;
  color: #585858;
  font-size: 25px;
  padding-bottom: 2px;
}

#portfolio-options span.selected {
  /*border-top: 2px solid green;*/
  border-bottom: 2.5px solid green;
  color: #005C00;
  font-size: 30px;

/*  border-left:  1px solid cyan;
border-right:  1px solid cyan;*/
}


.section-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#about .section-content h4 {
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 65px;
  margin-bottom: 20px;

}


#about-paragraph p{
  width: 75%;
  margin: 0 auto;
  font-family: "Lato" sans-serif;
  line-height: 30px;

}

#about .section-content p {
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  line-height: 28px;
  font-size: 16px;
  margin-top: 25px;
  padding-bottom: 50px;
}

#about .section-content h5 {
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 22px;
  padding-bottom: 2em;

}


#about .social-img {
  display: inline-block;
  float: center;
  border-radius: 100px;
  margin-bottom: 2em;
  width: 220px;
  height: 220px;
  border: 6px solid rgb(210,210,210);
  background: url("../images/rt2.jpg") center no-repeat #005C00;
  background-size: 220px 280px;
  border-collapse: 2em;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

#photo_circle_container {
  text-align: center;
  display: inline-block;
}

.photo_circle {
  width: 175px;
  text-align: center;
  height: 175px;
  border-radius: 400px;
  border: 6px solid rgb(210,210,210);
  background-color: white;
  overflow: hidden;
  display: inline-block;
  margin: 0 30px;

  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.photo_circle img {
  z-index: 3;
}

.section-content .photo_circle > h6 {
  font-size: 16px;
  margin-top: 5.0em;
  font-family: 'Lato';
  display: none;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding-top: 6px;
}




.photo_circle.ga {
  background: url("../images/ga.gif") center no-repeat #e8dee1;
  background-size: 90px 90px;
  float: center;

  -webkit-filter: grayscale(0.9);
}


.photo_circle.northwesternga_hover { 
  -webkit-filter: grayscale(0); 
  background-color: white
}



#brooklyn {
  z-index: 0;
  opacity: 1.0
}

/*SLIDE*/

.slide {
  position: relative;
}

.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  display: hidden;
}


/*PROJECT INFO*/

.project-info-left
{
  text-align: left;
  display: inline-block;
  width: 35%;
  float: left;
  padding-top: 20px;
}

.project-info-left h1
{
  font-family: 'Lato';
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
  text-align: center;
}

.project-info-left h6
{
  font-family: 'Lato';
  color: #f7f7f7;
  line-height: 20px;
  padding-left: 5px;
  margin-bottom: 25px;
}

.project-info-left a {
  color: #005C00;
  font-size: 12px;
}

.project-images-right {
  margin-left: 0px;
  display: inline-block;
  width: 55%;
}

.selected {
  font-size: 20px;
}

/*
PERSONAL INFO*/

#info1 {
  float: left;
  display:inline-block;
  padding-left: 16em;
  font-family: 'Lato';
  padding-bottom: 1em;
  font-weight: bold;
  font-size:20px;
}

#info2 {
  float: center;
  display:inline-block;
  font-family: 'Lato';
  padding-bottom: 1em;
  font-weight: bold;
  font-size:20px;
}

#info3 {
  float:right;
  display:inline-block;
  padding-right: 13em;
  font-family: 'Lato';
  padding-bottom: 1em;
  font-weight: bold;
  font-size:20px;
}


/*SOCIAL SECTION*/

#social .section-content { 
  display: inline-block; 
  margin: 0 auto; 
  width: auto;
}

#social .section-content h3{
  font-family: 'Lato';
  font-size: 24px;
  margin-bottom: 3em;
  display:inline-block;
  color: white;
}



#social .social-info {
  display: inline-block;
  float: left;
  margin-top: 2em;
  margin-left: 6em;
}



#social .section-content a {
  padding: 15px 35px;
  background-color: #1c3601;
  border-radius:50px;
  border: 3px solid rgb(210,210,210);
  opacity:7%;
}

#social .section-content a:hover {
/*  background-color: #565657;
  border: 2px solid cyan;
}*/}

#social .section-content img {
  border-radius: 100px;

}


.full-stack:hover {
  color:#1c3601;
}

.product-manager:hover{
  color:#1c3601;
}

.contact:hover{
  color:#1c3601
}

footer {
  text-align: center;
  color: white;
  font-family: 'Lato';

}




