
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic,400);

@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Sanchez);

@font-face{
  font-family: 'MyWebFont1';
  src: url('webfontkit-bebas/bebasneue-webfont.eot');
  src: url('webfontkit-bebas/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
       url('webfontkit-bebas/bebasneue-webfont.woff') format('woff'),
       url('webfontkit-bebas/bebasneue-webfont.ttf') format('truetype'),
       url('webfontkit-bebas/bebasneue-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'MyWebFont2';
  src: url('webfontkit-chunkfive/chunkfive-webfont.eot');
  src: url('webfontkit-chunkfive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('webfontkit-chunkfive/chunkfive-webfont.woff') format('woff'),
       url('webfontkit-chunkfive/chunkfive-webfont.ttf') format('truetype'),
       url('webfontkit-chunkfive/chunkfive-webfont.svg#webfont') format('svg');
}

.clear
{
  clear: both;

}

#wrapper
{
  width: 960px;
  margin: 0 auto;
}

#background
{
  background: url('../images/rave.png') fixed;
  width: 100%;
  background-size: cover;
  /*background-attachment:fixed;*/
  overflow:scroll;
  /*position: relative;*/

  margin: 0 auto;
}

#title
{
/*  width: 1280px;/
  height: 584px;*/

  text-align: center;

/*  border-bottom: 5px solid white;*/
/*  position: fixed;*/

}

#title
{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
}

#title h1
{

  font-family: 'Oleo Script Swash Caps';
  font-size: 135px;
  margin: 0 auto;

  margin-top: 238px;
  margin-bottom: 10px;
  color: white;
  -webkit-user-select: none;
  text-shadow: 4px 2px 3px rgba(255,0,0,0.8), -4px -2px 3px rgba(0,255,255,0.8), 0px 5px 3px rgba(0,0,0,0.7);
}

#title h3
{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
  margin-bottom: 44px;
  margin-top: 40px;
  text-shadow: 0px 3px 4px rgba(0,0,0,0.7);
  display: inline-block;
}

#social-icon-container
{
  width: 300px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

#title-content img
{
  padding: 5px;
}

#social-icon-container #github
{
  margin: 14px;
  width: 60px;
  height:60px;
  display:inline-block;
  background: transparent url('../images/github-3-64.png') center no-repeat;
  opacity: 0.7;

}

#social-icon-container #linkedin
{
  width: 60px;
  height:60px;
  margin: 14px;
  display: inline-block;
  background: transparent url('../images/linkedin-3-64.png') center no-repeat;
  opacity: 0.7;
}
#social-icon-container #instagram
{
  width: 60px;
  height:60px;
  margin: 14px;
  display: inline-block;
  background: transparent url('../images/instagram-3-64.png') center no-repeat;
  opacity: 0.7;
}

#social-icon-container #github:hover
{
  opacity: 1.0;
  margin: 11px;
  width: 60px;
  height:60px;
  display:inline-block;
  border: 3px solid cyan;
  border-radius: 10px;
}

#social-icon-container #linkedin:hover
{
  opacity: 1.0;
  width: 60px;
  height:60px;
  margin: 11px;
  display:inline-block;
  border: 3px solid cyan;
  border-radius: 10px;
}
#social-icon-container #instagram:hover
{
  opacity: 1.0;
  width: 60px;
  height:60px;
  margin: 11px;
  display:inline-block;
  border: 3px solid cyan;
  border-radius: 10px;
}

nav
{
  background-color: rgba(0,0,0,0.9);
  padding: 0px 0 10px;
  width: 100%;
  height: 28px;
  text-align: center;
  /*text-align: right;*/
  border-top: 2px solid red;
  border-bottom: 2px solid cyan;
  position: relative;
  box-shadow: 0px 3px 9px rgba(10,10,10, 0.8);
  z-index: 2;
}

nav li
{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0px 30px 0;
  color: #ffffff;
}

#first_nav{
  padding-left: 60px;
}
#last_nav{
  padding-right: 110px;
}


#navigation-bar
{
  /*margin-right: 110px;*/
  margin-top: 9px;
}

a#logo-link
{
  text-align: left;
  display: none;
  float: left;
  margin-left: 140px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0px;

}

a#logo-link:link {
  color:#ffffff;
  padding: 5px 5px;
  text-decoration: none;
  font-family: 'Oleo Script Swash Caps', sans-serif;
}
a#logo-link:visited {
  color:#ffffff;
  padding: 10px 5px;
  text-decoration: none;
  font-family: 'Oleo Script Swash Caps', sans-serif;
}
a#logo-link .hover{
  color:#ffffff;
  padding: 0 5px;
  text-decoration: none;
  text-shadow: 3px 0px 1px rgba(255,0,0,0.7), -3px 0px 1px rgba(0,255,255,0.7);
}



a:link {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
a:visited {
  color:#ffffff;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
a .hover {
  color:#ffffff;
  text-decoration: none;
  text-shadow: 3px 0px 1px rgba(255,0,0,0.7), -3px 0px 1px rgba(0,255,255,0.7);
}


#content-area
{
  background-color: rgb(200,200,200);
  /*background: -moz-linear-gradient(top, rgba(0,0,0,0.84) 0%, rgba(155,155,155,0.91) 100%);  FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.84)), color-stop(100%,rgba(155,155,155,0.91))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.84) 0%,rgba(155,155,155,0.91) 100%); /* Chrome10+,Safari5.1+ */
/*  height: 1000px;*/
}


#content-container
{
  width: 100%;
  margin: 0 auto;
}

.content-section
{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.content-section#about
{
  padding-top: 150px;
  text-align: center;
  background: url('../images/subtlepattern.png');
  background-color: rgba(170,170,170,0.5);
}

.content-section#portfolio
{

  background: url('../images/diagmonds_@2X.png');
}

.content-section#resume
{
  height: 1000px;
  background-color: rgba(170,170,170,1);

}

.project{
  margin-bottom: 150px;
  display: none;
}

.project#grubmeet {
  display: inline-block;
}

.section-title
{
  /*padding: 100px 0 50px;*/
  padding-bottom: 100px;
  margin: 0px auto;
  clear: both;
}

.section-title h3
{
  text-align: center;
  font-size: 30px;
  display: inline-block;
  padding-bottom: 2px;
  font-family: 'Oleo Script Swash Caps';
  background-color: grey;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#portfolio .section-title h3
{
  color: transparent;
  background-color: white;
  text-shadow: 0px -1px 1px rgba(230,230,230,0.8);
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#portfolio-options {
  padding-bottom: 75px;
}

#portfolio-options h5 {
  color: cyan;
  font-family: 'Lato';
  font-size: 20px;
}

#portfolio-options h5 span {
  margin: 0 15px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.selected {
  /*border-top: 2px solid red;*/
  border-bottom: 2px solid red;
  padding: 2px 1px;
}

.section-content
{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#about .section-content h4
{
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 65px;
  margin-bottom: 10px;
}

#about .section-content h5
{
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 22px;
  margin-bottom: 25px;
}

#about-paragraph{
  width: 75%;
  margin: 0 auto;
}

#about .section-content p
{
  font-family: "Lato" sans-serif;
  font-weight: 100;
  color: #000000;
  line-height: 28px;
  font-size: 16px;
  margin-top: 25px;
  padding-bottom: 50px;
}

#photo_circle_container
{
  text-align: center;
  display: inline-block;
}

.photo_circle
{
width: 175px;
text-align: center;
height: 175px;
border-radius: 400px;
/*border: 3px solid rgb(210,210,210);*/
background-color: white;
overflow: hidden;
display: inline-block;
margin: 0 30px;
float: left;
box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.photo_circle img{z-index: 0;}
.section-content .photo_circle > h6{font-size: 16px; margin-top: 5em; font-family: 'Lato'; display: none;}

.photo_circle.duke{
  background: url("../images/duke_logo.png") center no-repeat #e8dee1;
  background-size: 90px 90px;
  -webkit-filter: grayscale(0.9);
}
.photo_circle.duke:hover{-webkit-filter: grayscale(0); background-color: white}

.photo_circle.new_york
{
  background: url("http://maps.googleapis.com/maps/api/staticmap?center=10012&style=visibility:simplified&gamma:1.0&inverse_lightness:true&element:geometry.fill%7Chue:0x000000&zoom=11&maptype=terrain&size=400x400&markers=size:large%7Ccolor:red%7Clabel:NYC%7CNew+York,NY&sensor=false") center no-repeat #e8dee1;
  -webkit-filter: grayscale(0.9);
}
.photo_circle.new_york:hover{-webkit-filter: grayscale(0);}

.photo_circle.ga
{
  background: url("../images/ga.gif") center no-repeat #e8dee1;
  background-size: 90px 90px;
  -webkit-filter: grayscale(0.9);
}
.photo_circle.ga:hover{-webkit-filter: grayscale(0); background-color: white}

#new_york
{
  z-index: 0;
  opacity: 1.0
}

.slide {
  position: relative;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  display: hidden;
}



.project-info-left
{
  text-align: left;
  display: inline-block;
  width: 35%;
  float: left;
  padding-top: 20px;
}

.project-info-left h1
{
  font-family: 'Lato';
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}

.project-info-left h6
{
  font-family: 'Lato';
  color: #f7f7f7;
  line-height: 20px;
  padding-left: 5px;
}

.project-images-right
{
  margin-left: 0px;
  display: inline-block;
  width: 55%;
}








